* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(233, 229, 229);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: block;
    width: 350px;
    background-color: tomato;
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;

    h2 {
        margin-bottom: 1rem;
        margin-top: 1rem;
        text-align: center;
    }
}

.content {
    display: flex;
    justify-content: space-around;
    padding-bottom: 2rem;
}
.content label {
    padding: .2rem .2rem;
    font-weight: 500;
   }
.content input {
    padding: .2rem .4rem;
    width: 125px;
    outline: none;
    border-radius: 4px;
}

@media screen and (max-width: 280px) {
    main {

        width: 95%;
        background-color: rgb(94, 22, 211);
        border-radius: 5px;

        h2 {
            font-size: 1.1rem;
            color: whitesmoke;
            font-family: monospace;
        }
    }
    .content label {
        font-family: monospace;
        color: white;
    }

    .content input {
        padding: .2rem .3rem;
        width: 105px;
        outline: none;
        border-radius: 4px;
    }
}